<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <img src="\assets\img\Logoname.png" alt="logo">
                <h3 class="section-subheading">
                  <strong>
                  <p>We Integrate Interactivity and Communications between You and Your Customer</p>
                  <p>Besides producing a great website, we believe the key is in allowing people to really experience this through interactivity and social channels.</p>
                  <p>Here’s where your websites, mobile applications, e-mailers, forums and other social conversation tools come into play.</p>
                  <p>Allowing people to experience your brand’s products or services and provide feedback, recommendations and talk to other like-minded people will ensure word gets our quicker.</p>
                  </strong>
                </h3>
            </div>
        </div>
</section>
