<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Talk to us now</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="section-heading text-right">ZenShin Digital Marketing Agency</p>
          </div>
          <div class="col-md-6">
            <p class="section-heading">Tel: +6012 378 1960</p>
            <br>
            <p class="section-heading">Email: zenshindm@gmail.com</p>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="https://docs.google.com/forms/d/e/1FAIpQLSdRP-TykQTkfxabbjCcb_A2nq7LGyshyFwHRkfpMycMJOP9qA/formResponse">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address*" name="entry.1976905692" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name*" name="entry.1532931637" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Phone Number*" name="entry.319344666" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message*" id="message" name="entry.1471640114" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
