---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables



// Width of the content area




// Import partials
@import "agency";
@import "site";

.btn-xl {
  color: white;
  background-color: #931621;
  border-color: #931621;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl:focus, .btn-xl.focus {
    color: white;
    background-color: #BA2632;
    border-color: #BA2632; }
  .btn-xl:hover {
    color: white;
    background-color: #BA2632;
    border-color: #BA2632; }
  .btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
    color: white;
    background-color: #BA2632;
    border-color: #BA2632; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus, .open > .btn-xl.dropdown-toggle:hover, .open > .btn-xl.dropdown-toggle:focus, .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      background-color: #BA2632;
      border-color: #BA2632; }
  .btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus, fieldset[disabled] .btn-xl:hover, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl.focus {
    background-color: #BA2632;
    border-color: #BA2632; }
  .btn-xl .badge {
    color: #BA2632;
    background-color: white; }

.text-primary {color: #BA2632; }

      .navbar-custom {
        background-color: #222222;
        border-color: transparent; }
        .navbar-custom .navbar-brand {
          color: #BA2632;
          font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }
          .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
            color: #BA2632; }
        .navbar-custom .navbar-collapse {
          border-color: rgba(255, 255, 255, 0.98); }
        .navbar-custom .navbar-toggle {
          background-color: #BA2632;
          border-color: #BA2632;
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          color: white;
          font-size: 12px; }
          .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
            background-color: #BA2632; }
        .navbar-custom .nav li a {
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 1px;
          color: white; }
          .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
            color: #BA2632;
            outline: none; }
        .navbar-custom .navbar-nav > .active > a {
          border-radius: 0;
          color: white;
          background-color: #BA2632; }
        .navbar-custom .navbar-nav > .active > a:hover,
        .navbar-custom .navbar-nav > .active > a:focus {
          color: white;
          background-color: #BA2632; }
          .btn-primary {
            color: white;
            background-color: #BA2632;
            border-color: #BA2632;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700; }
            .btn-primary:focus, .btn-primary.focus {
              color: white;
              background-color: #BA2632;
              border-color: #BA2632; }
            .btn-primary:hover {
              color: white;
              background-color: #931621;
              border-color: #931621; }
            .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
              color: white;
              background-color: #BA2632;
              border-color: #BA2632; }
              .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
                color: white;
                background-color: #931621;
                border-color: #931621; }
            .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
              background-image: none; }
            .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
              background-color: #BA2632;
              border-color: #BA2632; }
            .btn-primary .badge {
              color: #BA2632;
              background-color: white; }
              *{padding:0;margin:0;}

              body{
              	font-family:Verdana, Geneva, sans-serif;
              	font-size:18px;
              	background-color:#CCC;
              }

              .float{
              	position:fixed;
              	width:60px;
              	height:60px;
              	bottom:40px;
              	right:40px;
              	background-color:#0C9;
              	color:#FFF;
              	border-radius:50px;
              	text-align:center;
              	box-shadow: 2px 2px 3px #999;
              }

              .my-float{
              	margin-top:13px;
              }
